<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240729793143-7c6mj48uq11m6d1voefiubhel0111ome.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240729793143-7c6mj48uq11m6d1voefiubhel0111ome</string>
	<key>API_KEY</key>
	<string>AIzaSyCs3jBD56M98tdUJFs_W2YPgnGMH2adO6c</string>
	<key>GCM_SENDER_ID</key>
	<string>240729793143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMediaApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kavir-app-project</string>
	<key>STORAGE_BUCKET</key>
	<string>kavir-app-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240729793143:ios:d493bfc52154e620f59c72</string>
</dict>
</plist>